<nav class="navbar navbar-expand-lg navbar-dark bg-dark" *ngIf="shouldShowNavbar()">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">📚 Bok-Appen</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/books" routerLinkActive="active">Böcker</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/quotes" routerLinkActive="active">Citat</a>
        </li>
        <li class="nav-item" *ngIf="isLoggedIn()">
          <button (click)="logout()" class="btn btn-danger btn-sm">Logga ut</button>
        </li>
      </ul>
    </div>
  </div>
</nav>
